@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    text-align: center;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Quicksand;
    color: rgba(0, 0, 0, 0.692);
}

p {
    font-family: Baskervville;
    padding-top: 1%;
}

.content {
    margin: auto;
    text-align: center;
    width: 100%;
}


/* header content */

.content-logo {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.logo {
    padding-left: 46%;
}

.buttons {
    margin-top: 3%;
    margin-bottom: 8%;
}

.buttons .btn-primary:hover {
    background-color: rgb(83, 180, 148);
    border-color: currentColor;
}

.buttons .btn-primary {
    border-radius: 50px;
    height: 55px;
    width: 15%;
}

.btn-ios {
    margin-left: 34%;
    margin-right: 2%;
}


/* main content*/

.content-snippets {
    margin: auto;
    width: 55%;
}

.content-3-rows {
    margin-top: 5%;
}

.content-right {
    text-align: left;
    margin: auto;
    margin-top: 10%;
    width: 60%;
}

.content-right-row-3 {
    margin-top: 8%;
}

.content-clipboard,
.content-workflow {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

.content-devices {
    margin: auto;
}

.content-middle .content-icons-description {
    padding-bottom: 8%;
    margin: auto;
    width: 90%;
}

.row .content-col-4 {
    padding: 0 7%;
}

.content-middle .logos-brand {
    margin: auto;
    margin-bottom: 5%;
    width: 85%;
}

.logos-brand .col-sm-2 {
    margin: auto;
}

.content-middle .clipboard {
    margin: auto;
    width: 50%;
}

.clipboard h2 {
    margin: auto;
}


/* footer */

footer {
    background-color: rgba(214, 214, 218, 0.308);
    height: 200px;
    width: 100%;
}

footer .logo {
    width: 70%;
}

footer .end-page {
    margin: auto;
    padding-top: 3%;
    width: 90%;
}

footer .end-page p {
    margin: auto;
    padding-top: 2%;
}

.fb {
    margin-left: -25%;
}

.tw {
    margin-left: 10%;
}

.inst {
    margin-left: 8%;
}

.icon-social-media:hover {
    filter: invert(5%) sepia(25%) saturate(2878%) hue-rotate(346deg) brightness(155%) contrast(97%);
}

h5:hover {
    color: #53B494;
}

@media(max-width: 450px) {
    .logo {
        padding-left: 32%;
    }
    .content-logo .logo {
        margin: auto;
    }
    .buttons .btn-primary {
        width: 50%;
    }
    .btn-ios {
        margin-top: 4%;
        margin-left: 25%;
    }
    .btn-mac {
        margin-left: 25%;
        margin-top: 4%;
    }
    .content-snippets {
        margin-top: 10%;
    }
    .content-left img {
        width: 70%;
    }
    .content-right {
        text-align: center;
    }
    .content-right h3 {
        padding-left: 12%;
    }
    .content-right .complet-history h3 {
        padding-right: 14%;
    }
    .content-middle .clipboard {
        width: 100%;
    }
    .content-devices img {
        width: 70%;
    }
    .row .content-col-4 {
        padding: 15px 8%;
    }
    .logos-brand .col-sm-2 {
        margin-top: 20%;
    }
    .content-middle .clipboard {
        margin-top: 15%;
    }
    footer {
        height: 100%;
    }
    footer .logo {
        margin-bottom: 10%;
        margin-top: 10%;
        width: 20%;
    }
    .logo {
        padding-left: 0%;
    }
    footer .end-page {
        text-align: center;
    }
    .end-page h5 {
        margin-bottom: 5%;
    }
    .fb {
        margin-left: 0%;
    }
    .col-sm-2 .icon-social-media {
        margin-top: 5%;
    }
    .end-page .attribution {
        margin-top: 5%;
    }
    .buttons .btn-primary:touch {
        background-color: rgb(83, 180, 148);
        border-color: currentColor;
    }
}